/* ------------------------------------- PRESETS -------------------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* -------------------------------------  End of PRESETS ------------------------------------- */

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.main .image {
    width: 40%;
    height: 100vh;
    background-image: url(../images/hero3.jpg);
}

.main .signupbox {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .formbox {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    padding: 40px;
    border-radius: 25px;
}

.main .formbox .SignUpFrom {
    flex-direction: column;
    align-items: center;
}

.main .formbox .SignUpFrom input {
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    border: 2px solid #006dd2;
    border-radius: 15px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
.main .formbox .SignUpFrom input:focus {
    border: 2px solid transparent;
    border-bottom: 2px solid #006dd2;
} 
.main .formbox .SignUpFrom button {
    height: 40px;
    width: 200px;
    border-radius: 25px;
    border: none;
    background-color: #006dd2;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.4s ease;
}
.main .formbox .SignUpFrom button:hover {
    background-color: #005eb6;
}

.main .formbox .SignUpFrom h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main .signupbox .navbar {
    margin-top: 100px;
    margin-bottom: 50px;
}

.main .signupbox .navbar button {
    background-color: #006dd2;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 25px;
    transition: all 0.4s ease;
}

.main .signupbox .navbar button:hover {
    background-color: #005eb6;
}

.main .signupbox .loginform {
    flex-direction: column;
    align-items: center;
}

.main .signupbox .loginform h3 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.main .signupbox .loginform input {
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    border: 2px solid #006dd2;
    border-radius: 15px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}


.main .formbox .loginform input:focus {
    border: 2px solid transparent;
    border-bottom: 2px solid #006dd2;
} 

.main .formbox .loginform button {
    height: 40px;
    width: 200px;
    border-radius: 25px;
    border: none;
    background-color: #006dd2;
    color: white;
    cursor: pointer;
    margin-top: 40px;
    transition: all 0.4s ease;
}
.main .formbox .loginform button:hover {
    background-color: #005eb6;
}




/* Responsive */

@media screen and (max-width: 1150px){
    .main {
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
    }

    .main .image {
        width: 100vw;
        height: 200px;
    }

    .main .signupbox {
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main .formbox {
        width: 250px;
    }

}



/* last presets */

.show {
    display: flex;
}

.unshow {
    display: none;
}
